<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<cd-widget>
			<cd-widget-body>
					<div class="row">
						<div class="col-lg-2">
							<select class="form-control" ng-options="" ng-model="">
								<option selected="selected" value="">course title</option>
								<option>course 1</option>
								<option>course 2</option>
								<option>course 3</option>
							</select>
						</div>
						<div class="col-lg-2">
							Prof.Gupta
						</div>
						<div class="col-lg-5"></div>
						<div class="col-lg-3">
							placeholder for date picker
						</div>
					</div>
			</cd-widget-body>
		</cd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<cd-widget>
      		<cd-widget-header icon="fa-tasks" title="Resources">
      		</cd-widget-header>
      		<cd-widget-body classes="large no-padding">
				<div class="">
				learning Resources 
				Home Work
				</div>
			</cd-widget-body>
		</cd-widget>
	</div>
	<div class="col-lg-5">
		<cd-widget>
			<cd-widget-header icon="fa-users" title="Messages">
			</cd-widget-header>
			<cd-widget-body classes="large no-padding">
				<div class="">
					Messages and replies
        		</div>
			</cd-widget-body>
		<cd-widget>
	</div>
  <div class="col-lg-3">
      <cd-widget>
        <cd-widget-header icon="fa-edit" title="Grade Rubric">
        </cd-widget-header>
        <cd-widget-body classes="large no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
              </thead>
              <tbody>
                <tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
                <tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
                <tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
              </tbody>
            </table>
              </div>
        </cd-widget-body>
      <cd-widget>
	</div>
</div>
